body{
    min-width: 400px;
}
ul {
    list-style-type: none;

}
.review{
    background:hsl(240, 60%, 98%) ;
}
.get-access{
    background: hsl(238, 22%, 44%);
}
footer{
    background: hsl(243, 87%, 12%);
    color: white;
    img{
        filter: invert(100%) sepia(14%) saturate(7471%) hue-rotate(287deg) brightness(117%) contrast(115%);
    }
    .phone-email{
        img{
            filter: none;
        }
    }
    ul{
        list-style-type: none;

        a{
            color: white;
        }
    }
    .media-icon{
        img{
            width: 50px;
        }
    }   
}
